@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.sans');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply leading-relaxed text-base bg-background text-slate-800 dark:bg-dark-background dark:text-dark-text;
    transition: background-color 0.3s, color 0.3s;
  }

  a {
    @apply transition-colors duration-200;
  }
}
