@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme("fontFamily.sans");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply leading-relaxed text-base bg-background text-slate-800 dark:bg-dark-background dark:text-dark-text;
    transition: background-color 0.3s, color 0.3s;
  }

  a {
    @apply transition-colors duration-200;
  }
}

@layer components {
  .text-muted {
    @apply text-slate-500 dark:text-slate-400;
  }

  .animated-gradient {
    background-size: 200% 200%;
    animation: gradientShift 6s ease infinite;
  }
  .portrait-img {
    @apply w-full h-72 object-cover;
    object-position: center 30%;
  }
}

@layer utilities {
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
